@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #1a237b;
  --color-secondary: #4a7bbe;
  --color-tertiary: #324f9c;
  --color-white: #ffffff;
  --color-body: #222222;
  --color-muted:#AAAAAA
  --color-surface: #EEEEEE;
  --color-border: #DDDDDD;
  --text-md: 0.9375rem;
  --text-2xs: 0.625rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
